{% extends 'base_user.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'chuan/user/css/mine.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script src="{% static 'chuan/user/js/mine.js' %}"></script>
{% endblock %}


{% block main %}
    {{ block.supwer }}
    <div class="userIcon">
        <a href="">
            <img src="{% static 'img/icon/default_icon.png' %}" alt="">
        </a>
    </div>
{% endblock %}